.details-toolbox {
  width: 250px;
}

.details-toolbox .content {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  border: 2px solid darkgray;
  height: 300px;
}

.details-toolbox .buttons {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.machine-details {
  text-align: left;
}

.buttons .btn {
  width: 58px;
  height: 58px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 10px;
}

.btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn.delete {
  background-image: url('../img/remove.png');
}

.btn.rotate {
  background-image: url('../img/rotate.png');
}

.btn.move {
  background-image: url('../img/move.png');
}

.details-toolbox .buttons-material {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.buttons-material .btn {
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
}

.btn.iron {
  background-color: chocolate;
}

.btn.diamond {
  background-color: white;
  transform: rotate(45deg)
}

.btn.gold {
  background-color: yellow;
  border-radius: 5px;
}

.btn.trophy::after {
  content: '\1F3C6';
  font-size: 20px;
}

.btn.sword::after {
  content: '\1F5E1';
  font-size: 20px;
}