.toolbox {
  width: 160px;
  float: left;
  margin-left: 10%;
  border-radius: 10px;
}

.toolbox .title {
  font-size: 20px;
  text-align: center;
}

.toolbox .items {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  border: 2px solid darkgray;
  height: 220px;
}

.toolbox .items .btn {
  cursor: pointer;
  margin-left: 2%;
  padding: 0;
  margin: 2px;
  border-radius: 10px;
}

.toolbox .items .btn.selected {
  border: 2px goldenrod solid;
  margin: 0
}
