.machine {
  width: 64px;
  height: 64px;
}

.machine.left {
  transform: rotate(90deg);
}

.machine.up {
  transform: rotate(180deg);
}

.machine.right {
  transform: rotate(-90deg);
}

.furnace {
  background-image: url('../img/furnace.png');
}

.seller {
  background-image: url('../img/seller.png');
}

.seller.working {
  background-image: url('../img/seller-working.png');
}

.starter {
  background-image: url('../img/starter.png');
}

.transporter {
  background-image: url('../img/transporter.png');
}

.crafter {
  background-image: url('../img/crafter.png');
}

.crafter.working {
  background-image: url('../img/crafter-working.png');
}

.machine > .material {
  font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif, LastResort;
  width: 20px;
  height: 20px;
  position: relative;
  top: 35%;
  left: 35%;
  z-index: 999;
}

.material > .content {
  margin: 0;
  padding: 0;
  font-size: 25px;
}

.transporter .material {
  animation: move 1s linear;
}

.crafter .material, .starter .material, .seller .material {
  visibility: hidden;
}

@keyframes move {
  100% {
    transform: translateY(64px)
  }
}

.material.iron {
  background-color: chocolate;
}

.material.liquid_iron {
  background-color: chocolate;
  border-radius: 15px;
}

.material.diamond {
  background-color: white;
  transform: rotate(45deg)
}

.material.liquid_diamond {
  background-color: lightgray;
  transform: rotate(45deg);
  border-radius: 5px;
}

.material.gold {
  background-color: yellow;
  border-radius: 5px;
}

.material.liquid_gold {
  background-color: goldenrod;
  border-radius: 8px;
}
