body {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.main-menu {
  margin-top: 100px;
}

.games-list {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

.game-button {
  margin-top: 5px;
}