.factory {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 550px;
  height: 400px;
}

.factory .block {
  border: 1px solid white;
  height: 64px;
  width: 64px;
  background-color: darkgray;
  border-radius: 10px;
}