.toolbox {
  width: 150px;
}

.toolbox .title {
  font-size: 20px;
  text-align: center;
}

.toolbox .items {
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px black solid;
  height: 200px;
}